<h1>$hero.getName()</h1>
<h1>$hero.getAge()</h1>
<h1>$hero.getPower()</h1>
<h1>$hero.getWeakness()</h1>

<h2>Completed?: $hero.isCompleted()</h2>

<a href="/heroes/new">Add another Hero</a>
<a href="/heroes">All Heroes</a>