<h1> Welcome to the Hero List Application </h1>

<a href="/squads"><button class="btn btn-light">View Squad list</button></a>
<a href="/squads"><button class="btn btn-cyan">Add a new Squad</button></a>


