<!DOCTYPE html>
<html>
<head>
    <title>Hero</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
</head>
<body>

<div class="container-fluid">

<div class="col-md-6">
    <a href="/">

        <div class="mask rgba-white-light"></div>
    </a>

    #parse( $template )
</div>
</body>
</html>