<h1>All Squads</h1>










<table>

<tr>
    #foreach ($squad in $squads)
    <td><a href="/squads/$squad.getId()"><button class="btn btn-cyan" style="margin-bottom:5px;">$squad.getName()</button></a></td>

</tr>
#end
<tr>

    <td>&nbsp;</td>

</tr>

<tr>

    <td><a href="/squads/new"><button class="btn btn-light"> Add new Squad</button></a></td>

</tr>

</table>